<a href="https://colab.research.google.com/github/keb-cuevas/PSMDataScience/blob/main/dataMining_agrPrices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Preliminaries

In [ ]:
!pip install tabula

Collecting tabula
  Downloading tabula-1.0.5.tar.gz (9.5 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tabula) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula) (1.21.5)
Building wheels for collected packages: tabula
  Building wheel for tabula (setup.py) ... done
  Created wheel for tabula: filename=tabula-1.0.5-py3-none-any.whl size=10601 sha256=e7cf76b2601948a10f92ec51d17643635ffa9b48cbbaeeb05dbb83172f1406d1
  Stored in directory: /root/.cache/pip/wheels/4b/f2/ad/7a426638f06a9829f8b0a097575b3d77fd651e9ef72ac7feb5
Successfully built tabula
Installing collected packages: tabula
Successfully installed tabula-1.0.5

In [ ]:
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 10.3 MB/s
Collecting distro
  Downloading distro-1.7.0-py3-none-any.whl (20 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.7.0 tabula-py-2.3.0

In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 8.7 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
import tabula as tb
from tabula.io import read_pdf
import os
import xlsxwriter
import re

In [ ]:
urls_list2 = ['https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-17-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-16-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-15-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-14-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-13-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-12-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-10-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-9-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-8-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-7-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-6-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-5-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-3-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-2-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-March-1-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-February-28-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-February-27-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-February-26-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-February-24-2018.pdf',
 'https://www.da.gov.ph/wp-content/uploads/2018/03/Price-Watch-February-23-2018.pdf']

#Looped Code

In [ ]:
for url in reversed(urls_list2):
  pdf = tb.read_pdf(url, pages='all', stream=True)
  df = pdf[0].reset_index().T.reset_index().T

  new_header = df.iloc[0] #grab the first row for the header
  df = df[1:] #take the data less the header row
  df.columns = new_header #set the header row as the df header

  cols = df.columns.to_list()[1], df.columns.to_list()[-4], df.columns.to_list()[-3], df.columns.to_list()[-2], df.columns.to_list()[-1] #last 4 columns

  #cols = df.columns.to_list()[1], df.columns.to_list()[-2], df.columns.to_list()[-1] #last 2 columns
  df = df[df.columns[df.columns.isin(cols)]].reset_index(drop=True)

  df = df[1:]

  s = url
  result = re.search('https://www.da.gov.ph/wp-content/uploads/2018/03/(.*).pdf', s)
  date1 = result.group(1)
  date = date1.split('-')[-3:]
  date2 = date
  df[['Month', 'Day', 'Year']] = date2

  df.columns=['Commodity', 'Prevailing', 'Low', 'High', 'Average', 'Month', 'Day', 'Year']
  df = df.dropna()

  df = df[['Month', 'Day', 'Year', 'Commodity', 'Low', 'High', 'Average', 'Prevailing']]

  folder_location = r'/content/drive/MyDrive/Prices'
  if not os.path.exists(folder_location):os.mkdir(folder_location)

  df.to_csv(f'/content/drive/MyDrive/Prices/{result.group(1)}.csv', sep=',', index=False)

#Code for version 2

In [ ]:
url = '/content/drive/MyDrive/Advanced Machine Learning/Final Project/Price-Watch-October-22-2018.pdf'

pdf = tb.read_pdf(url, pages='all', stream=True)
df = pdf[0].reset_index().T.reset_index().T

new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df

index,index,Unnamed: 0,Unnamed: 1,Unnamed: 2,Commonwealth,Farmers,Unnamed: 3,Marikina,Unnamed: 4,Mega Q-mart,...,Unnamed: 10,Polo,Unnamed: 11,Unnamed: 12,Quinta,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,0,NaN,Commodity,Specification,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Prevailing,Low,High,Average
1,1,NaN,NaN,NaN,Prevailing Low High,Prevailing Low,High,Prevailing Low,High,Prevailing Low High,...,Prevailing,Low,High,Prevailing,Low,High,NaN,NaN,NaN,NaN
2,2,RICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NFA(well milled),NaN,NaN,27 27 27,#N/A 0,0,N/A 0,0,#N/A 0 0,...,#N/A,0,0,27,27,27,27,27,27,27.00
4,4,NFA(premium),NaN,NaN,32 32 32,#N/A 0,0,N/A 0,0,27 27 27,...,#N/A,0,0,#N/A,0,0,32,27,32,30.13
5,5,COMMERCIAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Fancy,NaN,NaN,57 55 58,65 58,65,56 55,58,60 58 60,...,52,52,55,58,55,60,58,52,65,57.52
7,7,Premium,NaN,NaN,53 52 54,52 50,56,50 48,52,55 53 55,...,47,45,48,54,52,54,54,45,56,51.48
8,8,Well milled,NaN,NaN,50 47 51,47 47,50,45 44,45,45 45 47,...,43,43,46,48,46,50,45,43,51,46.46
9,9,Regular milled,NaN,ordinary rice,43 40 43,42 42,44,40 38,43,40 40 43,...,40,38,43,#N/A,40,42,40,36,44,40.76
10,10,FISH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Bangus,NaN,med - big (2-5pcs),150 140 160,170 160,170,#N/A 100,160,140 140 160,...,180,170,180,#N/A,160,200,150,100,200,154.36
12,12,Tilapia,NaN,med (6pcs),90 90 100,120 100,120,100 75,110,100 95 110,...,110,100,110,120,90,120,100,75,120,99.78
13,13,Galunggong,NaN,med (11-20pcs),130 120 140,170 170,200,160 160,180,140 130 160,...,#N/A,0,0,#N/A,0,0,140,120,200,149.43
14,14,Alumahan,NaN,med(4-6pcs/kg),200 180 200,320 300,350,240 240,260,#N/A 180 240,...,#N/A,0,0,#N/A,0,0,200,180,350,250.67
15,15,MEAT & POULTRY,NaN,NaN,#N/A 0 0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,Beef Rump,NaN,lean meat/tapadera,320 320 350,380 350,380,340 340,390,340 320 340,...,#N/A,320,340,390,380,390,340,300,390,344.75
17,17,Beef Brisket,NaN,meat w/bones,260 260 270,320 320,330,280 270,300,260 260 280,...,#N/A,290,300,300,280,300,260,250,330,280.00
18,18,Pork Ham/kasim,NaN,lean meat/tapadera,200 190 200,220 220,220,220 220,240,210 200 210,...,190,190,220,210,200,210,200,190,240,207.44
19,19,Pork Liempo,NaN,pork belly,220 220 230,240 240,240,250 250,260,240 230 240,...,220,210,240,230,220,230,240,210,260,235.56
20,20,Whole Chicken,NaN,fully dressed,130 120 140,160 150,160,150 150,150,160 150 160,...,150,145,160,150,145,150,150,100,160,146.44
21,21,Chicken Egg,NaN,med.quote in piece,5 4.6 5,5.75 5.5,6,5.5 5.35,5.75,5 5 5,...,4.5,4.5,4.5,5,4.5,5,5,4.5,6,5.13
22,22,VEGETABLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,Amargoso,NaN,4-5 pcs/kg,80 80 100,80 80,100,80 60,80,80 60 80,...,60,60,80,60,60,70,80,50,100,70.22
24,24,Sitao,NaN,3-4 small bundles/kg,80 70 80,100 100,120,70 60,90,60 60 80,...,80,80,100,70,60,80,80,50,120,77.11
25,25,Cabbage(scorpio),NaN,750 grms-1 kg/head,100 80 120,120 80,140,80 60,80,70 70 100,...,80,60,80,70,70,70,80,60,140,81.33
26,26,Carrots,NaN,8-10 pcs/kg,100 80 120,140 100,140,100 80,100,100 70 120,...,100,80,100,70,70,90,100,60,140,91.56
27,27,Habitchuelas,NaN,NaN,100 80 120,120 100,140,100 80,110,100 80 100,...,80,70,100,70,70,80,100,60,140,88.00
28,28,Tomato,NaN,15-18 pcs/kg,50 40 50,40 40,50,40 40,60,40 40 50,...,40,40,50,40,40,50,40,40,60,44.67
29,29,Onion red,NaN,13-15 pcs/kg,80 80 100,100 80,120,100 60,100,100 80 100,...,80,50,100,80,80,90,80,50,120,83.67
30,30,Onion white,NaN,NaN,80 60 80,100 70,100,80 50,90,60 60 80,...,70,50,80,60,50,60,80,50,100,67.67
31,31,Onion red (imported),NaN,NaN,70 60 80,100 80,120,#N/A 0,0,70 60 70,...,#N/A,0,0,#N/A,0,0,70,60,120,78.00
32,32,White Potato,NaN,10-12 pcs/kg,80 80 90,80 70,100,80 60,80,80 70 90,...,80,80,90,80,70,80,80,60,100,81.11
33,33,Eggplant,NaN,3-4 small bundles/kg,60 60 80,70 70,100,60 35,60,60 60 70,...,40,40,70,50,40,50,60,35,100,56.78
34,34,Pechay Native,NaN,NaN,60 60 60,100 90,120,50 40,50,60 40 70,...,50,40,70,40,30,50,40,30,120,54.44
35,35,Pechay Baguio,NaN,NaN,80 70 80,100 70,100,80 40,80,60 50 80,...,50,50,90,50,40,60,80,40,100,67.56
36,36,Chayote,NaN,NaN,60 60 60,70 70,100,60 60,80,60 60 80,...,60,60,80,60,50,60,60,40,100,61.78
37,37,Ginger,NaN,NaN,80 80 100,100 100,120,100 80,100,80 60 100,...,80,60,80,100,90,100,100,60,120,89.78
38,38,Garlic (Imported),NaN,NaN,80 70 100,100 90,120,80 70,100,70 70 80,...,80,60,100,70,70,80,80,60,120,81.78
39,39,Garlic (Native),NaN,NaN,#N/A 180 200,250 250,300,N/A 0,0,250 200 300,...,#N/A,0,0,#N/A,0,0,250,180,300,238.00
40,40,Chilli (Labuyo),NaN,NaN,700 600 800,#N/A 500,750,700 400,800,600 600 800,...,800,700,800,650,650,700,700,400,800,692.11
41,41,FRUITS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cols = df.columns.to_list()[1], df.columns.to_list()[-4], df.columns.to_list()[-3], df.columns.to_list()[-2], df.columns.to_list()[-1] #last 4 columns

#cols = df.columns.to_list()[1], df.columns.to_list()[-2], df.columns.to_list()[-1] #last 2 columns
df = df[df.columns[df.columns.isin(cols)]].reset_index(drop=True)

df = df[1:]

In [ ]:
df

index            Unnamed: 0 Unnamed: 14 Unnamed: 15 Unnamed: 16 Unnamed: 17
1                       NaN         NaN         NaN         NaN         NaN
2                      RICE         NaN         NaN         NaN         NaN
3          NFA(well milled)          27          27          27       27.00
4              NFA(premium)          32          32          32       32.00
5                COMMERCIAL         NaN         NaN         NaN         NaN
6                     Fancy          60          52          65       57.68
7                   Premium          54          45          56       51.63
8               Well milled          46          43          51       46.79
9            Regular milled          40          36          45       41.34
10                     FISH         NaN         NaN         NaN         NaN
11                   Bangus         160         100         200      151.54
12                  Tilapia         100          80         130      100.00
13               Galunggong         140         100         200      144.85
14                 Alumahan         200         180         350      261.54
15           MEAT & POULTRY         NaN         NaN         NaN         NaN
16                Beef Rump         350         300         390      344.75
17             Beef Brisket         260         240         330      279.00
18           Pork Ham/kasim         200         190         240      209.00
19              Pork Liempo         240         210         260      235.89
20            Whole Chicken         150         125         160      147.56
21              Chicken Egg           5         4.5           6        5.13
22               VEGETABLES         NaN         NaN         NaN         NaN
23                 Amargoso          80          50         100       70.89
24                    Sitao          80          50         120       76.16
25         Cabbage(scorpio)          80          60         140       86.67
26                  Carrots         100          80         140      102.44
27             Habitchuelas          80          70         140       93.33
28                   Tomato          40          28          60       41.33
29                Onion red          80          50         120       87.50
30              Onion white          60          50         100       69.32
31     Onion red (imported)          60          56         120       74.84
32             White Potato          80          60         100       75.67
33                 Eggplant          70          35         100       58.44
34            Pechay Native          60          35         120       59.22
35            Pechay Baguio          80          40         120       69.11
36                  Chayote          60          50         100       63.11
37                   Ginger         100          50         120       86.22

In [ ]:
s = url
result = re.search('/content/drive/MyDrive/Advanced Machine Learning/Final Project/(.*).pdf', s)
date1 = result.group(1)
date = date1.split('-')[-3:]
date2 = date
df[['Month', 'Day', 'Year']] = date2
df

index,Unnamed: 0,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Month,Day,Year
1,NaN,NaN,NaN,NaN,NaN,October,22,2018
2,RICE,NaN,NaN,NaN,NaN,October,22,2018
3,NFA(well milled),27,27,27,27.00,October,22,2018
4,NFA(premium),32,27,32,30.13,October,22,2018
5,COMMERCIAL,NaN,NaN,NaN,NaN,October,22,2018
6,Fancy,58,52,65,57.52,October,22,2018
7,Premium,54,45,56,51.48,October,22,2018
8,Well milled,45,43,51,46.46,October,22,2018
9,Regular milled,40,36,44,40.76,October,22,2018
10,FISH,NaN,NaN,NaN,NaN,October,22,2018
11,Bangus,150,100,200,154.36,October,22,2018
12,Tilapia,100,75,120,99.78,October,22,2018
13,Galunggong,140,120,200,149.43,October,22,2018
14,Alumahan,200,180,350,250.67,October,22,2018
15,MEAT & POULTRY,NaN,NaN,NaN,NaN,October,22,2018
16,Beef Rump,340,300,390,344.75,October,22,2018
17,Beef Brisket,260,250,330,280.00,October,22,2018
18,Pork Ham/kasim,200,190,240,207.44,October,22,2018
19,Pork Liempo,240,210,260,235.56,October,22,2018
20,Whole Chicken,150,100,160,146.44,October,22,2018
21,Chicken Egg,5,4.5,6,5.13,October,22,2018
22,VEGETABLES,NaN,NaN,NaN,NaN,October,22,2018
23,Amargoso,80,50,100,70.22,October,22,2018
24,Sitao,80,50,120,77.11,October,22,2018
25,Cabbage(scorpio),80,60,140,81.33,October,22,2018
26,Carrots,100,60,140,91.56,October,22,2018
27,Habitchuelas,100,60,140,88.00,October,22,2018
28,Tomato,40,40,60,44.67,October,22,2018
29,Onion red,80,50,120,83.67,October,22,2018
30,Onion white,80,50,100,67.67,October,22,2018
31,Onion red (imported),70,60,120,78.00,October,22,2018
32,White Potato,80,60,100,81.11,October,22,2018
33,Eggplant,60,35,100,56.78,October,22,2018
34,Pechay Native,40,30,120,54.44,October,22,2018
35,Pechay Baguio,80,40,100,67.56,October,22,2018
36,Chayote,60,40,100,61.78,October,22,2018
37,Ginger,100,60,120,89.78,October,22,2018
38,Garlic (Imported),80,60,120,81.78,October,22,2018
39,Garlic (Native),250,180,300,238.00,October,22,2018
40,Chilli (Labuyo),700,400,800,692.11,October,22,2018
41,FRUITS,NaN,NaN,NaN,NaN,October,22,2018

In [ ]:
df.columns=['Commodity', 'Prevailing', 'Low', 'High', 'Average', 'Month', 'Day', 'Year']
df = df.dropna().reset_index(drop=True)
df.head(3)

          Commodity Prevailing Low High Average    Month Day  Year
0  NFA(well milled)         27  27   27   27.00  October  22  2018
1      NFA(premium)         32  27   32   30.13  October  22  2018
2             Fancy         58  52   65   57.52  October  22  2018

In [ ]:
df = df[['Month', 'Day', 'Year', 'Commodity', 'Low', 'High', 'Average', 'Prevailing']]

folder_location = r'/content/drive/MyDrive/Prices'
if not os.path.exists(folder_location):os.mkdir(folder_location)

df.to_csv(f'/content/drive/MyDrive/Prices/Price-Watch-{date[0]}-{date[1]}-{date[2]}.csv', sep=',', index=False)

In [ ]:
df3 = pd.read_csv(f'/content/drive/MyDrive/Prices/Price-Watch-{date[0]}-{date[1]}-{date[2]}.csv')
df3

      Month  Day  Year             Commodity    Low  High  Average  Prevailing
0   October   22  2018      NFA(well milled)   27.0    27    27.00          27
1   October   22  2018          NFA(premium)   27.0    32    30.13          32
2   October   22  2018                 Fancy   52.0    65    57.52          58
3   October   22  2018               Premium   45.0    56    51.48          54
4   October   22  2018           Well milled   43.0    51    46.46          45
5   October   22  2018        Regular milled   36.0    44    40.76          40
6   October   22  2018                Bangus  100.0   200   154.36         150
7   October   22  2018               Tilapia   75.0   120    99.78         100
8   October   22  2018            Galunggong  120.0   200   149.43         140
9   October   22  2018              Alumahan  180.0   350   250.67         200
10  October   22  2018             Beef Rump  300.0   390   344.75         340
11  October   22  2018          Beef Brisket  250.0   330   280.00         260
12  October   22  2018        Pork Ham/kasim  190.0   240   207.44         200
13  October   22  2018           Pork Liempo  210.0   260   235.56         240
14  October   22  2018         Whole Chicken  100.0   160   146.44         150
15  October   22  2018           Chicken Egg    4.5     6     5.13           5
16  October   22  2018              Amargoso   50.0   100    70.22          80
17  October   22  2018                 Sitao   50.0   120    77.11          80
18  October   22  2018      Cabbage(scorpio)   60.0   140    81.33          80
19  October   22  2018               Carrots   60.0   140    91.56         100
20  October   22  2018          Habitchuelas   60.0   140    88.00         100
21  October   22  2018                Tomato   40.0    60    44.67          40
22  October   22  2018             Onion red   50.0   120    83.67          80
23  October   22  2018           Onion white   50.0   100    67.67          80
24  October   22  2018  Onion red (imported)   60.0   120    78.00          70
25  October   22  2018          White Potato   60.0   100    81.11          80
26  October   22  2018              Eggplant   35.0   100    56.78          60
27  October   22  2018         Pechay Native   30.0   120    54.44          40
28  October   22  2018         Pechay Baguio   40.0   100    67.56          80
29  October   22  2018               Chayote   40.0   100    61.78          60
30  October   22  2018                Ginger   60.0   120    89.78         100
31  October   22  2018     Garlic (Imported)   60.0   120    81.78          80
32  October   22  2018       Garlic (Native)  180.0   300   238.00         250
33  October   22  2018       Chilli (Labuyo)  400.0   800   692.11         700

#Code Proper version 1

In [ ]:
url = 'https://www.da.gov.ph/wp-content/uploads/2018/10/Price-Watch-October-17-2018.pdf'

pdf = tb.read_pdf(url, pages='all', stream=True)
df = pdf[0].reset_index().T.reset_index().T

new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

df.head(3)

index,index,Unnamed: 0,Unnamed: 1,Commonwealth,Farmers,Unnamed: 2,Marikina,Unnamed: 3,Mega Q-mart,Muñoz,...,Unnamed: 9,Polo,Unnamed: 10,Unnamed: 11,Quinta,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,0,Commodity,Specification,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Prevailing,Low,High,Average
1,1,NaN,NaN,Prevailing Low High,Prevailing Low,High,Prevailing Low,High,Prevailing Low High,Prevailing Low,...,Prevailing,Low,High,Prevailing,Low,High,NaN,NaN,NaN,NaN
2,2,RICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.tail(15)

index,index,Unnamed: 0,Unnamed: 1,Unnamed: 2,Commonwealth,Farmers,Unnamed: 3,Marikina,Unnamed: 4,Mega Q-mart,...,Unnamed: 6,Pasig,Unnamed: 7,Unnamed: 8,Quinta,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
25,25,Cabbage(scorpio),NaN,750 grms-1 kg/head,140 120 140,140 130,150,100 100,120,120 120 140,...,100,100,150,130,100,130,120,100,150,124.57
26,26,Carrots,NaN,8-10 pcs/kg,160 140 180,180 150,180,120 120,120,150 150 160,...,100,100,150,130,120,130,120,100,180,139.71
27,27,Habitchuelas,NaN,NaN,200 180 200,180 160,200,100 100,100,120 120 160,...,80,60,100,100,100,100,100,60,200,128.86
28,28,Tomato,NaN,15-18 pcs/kg,60 40 60,50 50,60,40 35,40,60 50 60,...,30,24,40,40,40,45,40,24,60,45.11
29,29,Onion red,NaN,13-15 pcs/kg,100 100 100,100 90,120,70 70,80,120 100 120,...,80,80,100,90,90,90,100,70,120,92.00
30,30,Onion white,NaN,NaN,80 80 80,100 80,120,70 60,70,80 60 80,...,60,60,80,60,60,70,80,60,120,74.57
31,31,Onion red (imported),NaN,NaN,80 70 80,80 70,100,#N/A 0,0,80 60 80,...,#N/A,0,0,#N/A,0,0,80,60,100,77.78
32,32,White Potato,NaN,10-12 pcs/kg,80 70 80,100 80,100,80 60,80,70 60 80,...,60,60,80,70,70,70,70,60,100,73.71
33,33,Eggplant,NaN,3-4 small bundles/kg,100 80 100,100 100,130,100 100,100,100 90 100,...,80,75,90,100,90,100,100,75,130,95.29
34,34,Pechay Native,NaN,NaN,100 90 100,140 120,150,70 60,70,100 80 100,...,60,60,80,70,60,70,100,60,150,89.71
35,35,Pechay Baguio,NaN,NaN,100 100 120,130 130,150,100 100,100,100 90 120,...,90,85,100,90,80,90,100,80,150,103.86
36,36,Chayote,NaN,NaN,80 80 100,120 120,140,70 70,80,80 80 90,...,70,70,90,70,70,80,80,70,140,84.57
37,37,Ginger,NaN,NaN,100 80 100,150 100,160,100 100,150,80 80 100,...,80,70,100,100,90,120,100,70,160,101.43
38,38,Garlic (Imported),NaN,NaN,80 80 100,100 80,120,70 70,80,80 80 100,...,70,70,100,70,70,70,80,70,120,81.43
39,39,Garlic (Native),NaN,NaN,#N/A 0 0,300 300,300,N/A 0,0,#N/A 200 300,...,#N/A,0,0,#N/A,0,0,300,200,300,260.00

In [ ]:
cols = df.columns.to_list()[1], df.columns.to_list()[-4], df.columns.to_list()[-3], df.columns.to_list()[-2], df.columns.to_list()[-1] #last 4 columns

#cols = df.columns.to_list()[1], df.columns.to_list()[-2], df.columns.to_list()[-1] #last 2 columns
df = df[df.columns[df.columns.isin(cols)]].reset_index(drop=True)

df = df[1:]
df.head(5)

index        Unnamed: 0 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16
1                   NaN         NaN         NaN         NaN         NaN
2                  RICE         NaN         NaN         NaN         NaN
3      NFA(well milled)          27          27          27       27.00
4          NFA(premium)          32          32          32       32.00
5            COMMERCIAL         NaN         NaN         NaN         NaN

#Hide if not merged

In [ ]:
df[['Prevailing', 'Low']]=df[df.columns.to_list()[2]].str.split(' ', n=1, expand=True)
#df[['High', 'Average']]=df[df.columns.to_list()[2]].str.split(' ', n=1, expand=True)

In [ ]:
df = df.drop(columns=['Unnamed: 7']).reset_index(drop=True)

In [ ]:
df = df.drop(columns=['Unnamed: 6']).reset_index(drop=True)

#Continue

In [ ]:
s = url
result = url

result = result[:-4]
date = result.split('-')[-3:]

date2 = date
df[['Month', 'Day', 'Year']] = date2
df

index,Unnamed: 0,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Month,Day,Year
1,NaN,NaN,NaN,NaN,NaN,October,17,2018
2,RICE,NaN,NaN,NaN,NaN,October,17,2018
3,NFA(well milled),27,27,27,27.00,October,17,2018
4,NFA(premium),32,32,32,32.00,October,17,2018
5,COMMERCIAL,NaN,NaN,NaN,NaN,October,17,2018
6,Fancy,60,52,65,57.72,October,17,2018
7,Premium,54,45,55,51.40,October,17,2018
8,Well milled,46,43,51,46.68,October,17,2018
9,Regular milled,40,36,45,41.13,October,17,2018
10,FISH,NaN,NaN,NaN,NaN,October,17,2018
11,Bangus,160,100,200,150.77,October,17,2018
12,Tilapia,100,80,120,99.00,October,17,2018
13,Galunggong,140,100,180,143.64,October,17,2018
14,Alumahan,200,180,330,251.54,October,17,2018
15,MEAT & POULTRY,NaN,NaN,NaN,NaN,October,17,2018
16,Beef Rump,380,300,390,345.50,October,17,2018
17,Beef Brisket,260,240,330,279.50,October,17,2018
18,Pork Ham/kasim,200,190,240,208.00,October,17,2018
19,Pork Liempo,240,195,260,234.67,October,17,2018
20,Whole Chicken,150,125,160,146.89,October,17,2018
21,Chicken Egg,5,4.5,5.75,5.08,October,17,2018
22,VEGETABLES,NaN,NaN,NaN,NaN,October,17,2018
23,Amargoso,80,50,120,74.78,October,17,2018
24,Sitao,60,50,130,79.78,October,17,2018
25,Cabbage(scorpio),100,60,150,95.78,October,17,2018
26,Carrots,120,80,160,108.67,October,17,2018
27,Habitchuelas,80,70,160,99.55,October,17,2018
28,Tomato,40,20,60,41.78,October,17,2018

In [ ]:
df

index,Unnamed: 0,Unnamed: 8,Unnamed: 9,Prevailing,Low,Month,Day,Year
0,RICE,NaN,NaN,NaN,NaN,October,15,2018
1,NFA(well milled),27,27.0,27,27,October,15,2018
2,NFA(premium),32,32.0,32,32,October,15,2018
3,COMMERCIAL,NaN,NaN,NaN,NaN,October,15,2018
4,Fancy,65,58.76,57,54,October,15,2018
5,Premium,58,52.13,52,48,October,15,2018
6,Well milled,51,46.7,44,44,October,15,2018
7,Regular milled,45,42.05,42,38,October,15,2018
8,FISH,NaN,NaN,NaN,NaN,October,15,2018
9,Bangus,170,143.33,160,100,October,15,2018
10,Tilapia,130,97.43,100,80,October,15,2018
11,Galunggong,180,145.71,140,120,October,15,2018
12,Alumahan,330,256.36,200,180,October,15,2018
13,MEAT & POULTRY,NaN,NaN,NaN,NaN,October,15,2018
14,Beef Rump,390,335.15,350,300,October,15,2018
15,Beef Brisket,300,269.09,260,240,October,15,2018
16,Pork Ham/kasim,240,211.29,220,190,October,15,2018
17,Pork Liempo,260,238.29,240,220,October,15,2018
18,Whole Chicken,160,146.14,150,120,October,15,2018
19,Chicken Egg,5.75,5.21,5,4.6,October,15,2018
20,VEGETABLES,NaN,NaN,NaN,NaN,October,15,2018
21,Amargoso,120,83.57,80,55,October,15,2018
22,Sitao,150,82.94,60,60,October,15,2018
23,Cabbage(scorpio),150,108.0,100,60,October,15,2018
24,Carrots,160,114.0,100,80,October,15,2018
25,Habitchuelas,160,110.0,120,70,October,15,2018
26,Tomato,60,40.86,40,20,October,15,2018
27,Onion red,120,94.0,100,70,October,15,2018
28,Onion white,120,72.57,60,50,October,15,2018
29,Onion red (imported),80,69.04,60,60,October,15,2018
30,White Potato,120,75.14,80,60,October,15,2018
31,Eggplant 3-4 small bundles/kg,100,66.57,60,40,October,15,2018
32,Pechay Native,150,74.0,60,40,October,15,2018
33,Pechay Baguio,140,85.71,80,60,October,15,2018
34,Chayote,120,73.43,60,50,October,15,2018
35,Ginger,130,94.0,100,60,October,15,2018
36,Garlic (Imported),120,82.29,80,60,October,15,2018
37,Garlic (Native),400,260.0,200,180,October,15,2018
38,Chilli (Labuyo),800,577.19,600,320,October,15,2018
39,FRUITS,NaN,NaN,NaN,NaN,October,15,2018
40,Lakatan,70,58.48,55,50,October,15,2018
41,Latundan,60,45.16,50,25,October,15,2018
42,Calamansi,80,47.17,40,20,October,15,2018
43,Papaya,55,39.86,40,25,October,15,2018
44,"Mango,Carabao",180,159.67,160,120,October,15,2018
45,OTHER BASIC COMMODITIES,NaN,NaN,NaN,NaN,October,15,2018
46,"Sugar,Refined",66,59.66,60,50,October,15,2018
47,"Sugar,Washed",55,49.97,48,45,October,15,2018
48,"Sugar,Brown",55,48.54,45,45,October,15,2018
49,"Cooking oil, Lapad",30,21.5,20,17,October,15,2018
50,"Cooking oil, Longneck",60,44.43,45,32,October,15,2018

In [ ]:
df.columns=['Commodity', 'High', 'Average', 'Prevailing', 'Low', 'Month', 'Day', 'Year']
df = df.dropna().reset_index(drop=True)
df.head(3)

          Commodity High Average Prevailing    Low    Month Day  Year
0  NFA(well milled)   27      27         27  27.00  October  17  2018
1      NFA(premium)   32      32         32  32.00  October  17  2018
2             Fancy   60      52         65  57.72  October  17  2018

In [ ]:
df = df[['Month', 'Day', 'Year', 'Commodity', 'Low', 'High', 'Average', 'Prevailing']]

In [ ]:
df.columns = df.columns=['Month', 'Day', 'Year', 'Commodity', 'Average', 'High', 'Low', 'Prevailing']
df

      Month Day  Year         Commodity Average High  Low Prevailing
0   October  17  2018  NFA(well milled)   27.00   27   27         27
1   October  17  2018      NFA(premium)   32.00   32   32         32
2   October  17  2018             Fancy   57.72   60   52         65
3   October  17  2018           Premium   51.40   54   45         55
4   October  17  2018       Well milled   46.68   46   43         51
5   October  17  2018    Regular milled   41.13   40   36         45
6   October  17  2018            Bangus  150.77  160  100        200
7   October  17  2018           Tilapia   99.00  100   80        120
8   October  17  2018        Galunggong  143.64  140  100        180
9   October  17  2018          Alumahan  251.54  200  180        330
10  October  17  2018         Beef Rump  345.50  380  300        390
11  October  17  2018      Beef Brisket  279.50  260  240        330
12  October  17  2018    Pork Ham/kasim  208.00  200  190        240
13  October  17  2018       Pork Liempo  234.67  240  195        260
14  October  17  2018     Whole Chicken  146.89  150  125        160
15  October  17  2018       Chicken Egg    5.08    5  4.5       5.75
16  October  17  2018          Amargoso   74.78   80   50        120
17  October  17  2018             Sitao   79.78   60   50        130
18  October  17  2018  Cabbage(scorpio)   95.78  100   60        150
19  October  17  2018           Carrots  108.67  120   80        160
20  October  17  2018      Habitchuelas   99.55   80   70        160
21  October  17  2018            Tomato   41.78   40   20         60

In [ ]:
df

      Month Day  Year         Commodity  Low High Average Prevailing
0   October  17  2018  NFA(well milled)   27   27   27.00         27
1   October  17  2018      NFA(premium)   32   32   32.00         32
2   October  17  2018             Fancy   52   60   57.72         65
3   October  17  2018           Premium   45   54   51.40         55
4   October  17  2018       Well milled   43   46   46.68         51
5   October  17  2018    Regular milled   36   40   41.13         45
6   October  17  2018            Bangus  100  160  150.77        200
7   October  17  2018           Tilapia   80  100   99.00        120
8   October  17  2018        Galunggong  100  140  143.64        180
9   October  17  2018          Alumahan  180  200  251.54        330
10  October  17  2018         Beef Rump  300  380  345.50        390
11  October  17  2018      Beef Brisket  240  260  279.50        330
12  October  17  2018    Pork Ham/kasim  190  200  208.00        240
13  October  17  2018       Pork Liempo  195  240  234.67        260
14  October  17  2018     Whole Chicken  125  150  146.89        160
15  October  17  2018       Chicken Egg  4.5    5    5.08       5.75
16  October  17  2018          Amargoso   50   80   74.78        120
17  October  17  2018             Sitao   50   60   79.78        130
18  October  17  2018  Cabbage(scorpio)   60  100   95.78        150
19  October  17  2018           Carrots   80  120  108.67        160
20  October  17  2018      Habitchuelas   70   80   99.55        160
21  October  17  2018            Tomato   20   40   41.78         60

In [ ]:
df = df[['Month', 'Day', 'Year', 'Commodity', 'Low', 'High', 'Average', 'Prevailing']]

folder_location = r'/content/drive/MyDrive/Prices'
if not os.path.exists(folder_location):os.mkdir(folder_location)

#df.to_csv(f'/content/drive/MyDrive/Prices/{result.group(1)}.csv', sep=',', index=False)
df.to_csv(f'/content/drive/MyDrive/Prices/Price-Watch-{date[0]}-{date[1]}-{date[2]}.csv', sep=',', index=False)

In [ ]:
Price-Watch-{date[1]}-{date[2]}-{date[3]}